<section id="photos" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Фото</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/photo-1.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/photo-2.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/photo-3.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/photo-4.jpg">
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://vk.com/photo-143188330_456239062" target="_blank" class="btn btn-dark">Смотреть ещё</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
